body {
    padding:0px;
    margin:0px;
}

.section-one, .section-two{
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;   
}

.header .one{
    display:flex;
    align-items: center;
    padding-left: 80px;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header div {
     height: 50px;
     width: 250px;
     flex: 1 1 auto;
}

.link-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}


.section-one{
    background-color: #1f2937;

}