body {
    padding:0px;
    margin:0px;
}

*{
    font-family:'Roboto';
    color:white;
}
.section-one {
    display: flex;
    flex-direction: column;
    border: 4px solid red;
    background-color: #1f2937;
}

.header{
    display:flex;   
    justify-content: space-between;
    padding-inline-start: 150px;
    padding-inline-end: 250px;
}

.header .one{
    display:flex;
    align-items: center;
    color:white;
}

.link-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid red;
}

.hero .two{
    font-size: 3    8px;
}