body {
    padding:0px;
    margin:0px;
}

*{
    font-family:'Roboto';
    color:white;
}
.section-one {
    display: flex;
    flex-direction: column;
    border: 4px solid red;
    background-color: #1f2937;
}

.header{
    display:flex;   
    justify-content: space-between;
    padding-inline-start: 150px;
    padding-inline-end: 250px;
}

.header .one{
    display:flex;
    align-items: center;
    color:#F9FAF8;
    font-size: 24px;
    
}

.link-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid red;
}

.link-box .one{
    font-size: 18px;
    color: #E5E7EB;
}


.hero .two{
    font-size: 48px;
    color: #f9faf8;
    weight: 900;
}

.hero .three{
    font-size: 18px;
    color: #E5E7EB;
}