body {
    padding:0px;
    margin:0px;
}

*{
    font-family:'Roboto';
}
.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;

    color:white;
}

.header{
    display:flex;   
    justify-content: space-between;
    padding-inline-start: 350px;
    padding-inline-end: 350px;
    padding-top: 10px;
}

.header .one{
    display:flex;
    align-items: center;
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 0;
    
}
#logo{
    font-weight:900;
}

.link-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

a{
    text-decoration: none;
}

.link-box .one{
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.hero-text{
     width: 400px;
}

.hero .hero-image{
    display:flex;
    background:gray;
    height: 250px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.hero .two{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    text-align: left;
}

.hero .three{
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    padding-bottom: 10px;
}

.four {
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 8px;
    border: 0px;
    padding-inline: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.section-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  padding-top: 40px;
}

.textmiddle{
    font-size: 36px;
    padding: 32px;
    font-weight:  900;
    color: #1f2937;
}

.boxesgroup{
    display:flex;
    flex-direction: row;
    gap: 48px;
    padding: 12px
}


.box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.boxes{
  width: 120px;
  height: 120px;
  border: 4px solid #3882F6;
  border-radius: 8px;
  
}

.box-text {
  max-width: 150px;
  font-size: 16px;
  color: #1f2937;   
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    width: 100%;
}

.quote-item {
    display:  flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 800px;
    padding: 120px;
    
}

.section-three .quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.section-three .author{
    font-size: 18px;
    color: #1f2937;
    font-weight: 900;
    padding-left: 600px;
}

.section-four{
    color: #E5E7EB;
    display:flex;
    justify-content: center;
    padding: 80px;  
}

.CTObox{
    display: flex;
    gap: 200px;
    padding-inline: 150px;
    padding-block: 50px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    background-color: #3882F6;
}

.CTObutton {
    border-style: solid;
    border-color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 18px;
    padding-inline: 40px;
}

.ctomaintext{
    font-size: 26px;
    color: white;
    font-weight: 900;
}

.ctosuptext{
    font-weight: 300;
}

.footer{
    background-color: #1f2937;
    text-align: center;
    color:white;
    padding:30px;
}